/* .profilepic{
         
          margin: 3%;
          text-align: left;

}
.row{
    margin: 3%;
}

.container1{
    margin-left: 5%;
    
}
.name{
    margin-left: 20px;
}
.post{
    
    margin-left: 40px;

}
  */