body{

    background-color: #f7f7ff2f;
    margin-top:20px;
}
.radius-15 {
    border-radius: 15px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff9b;
    background-clip: border-box;
    border: 2px solid rgba(143, 143, 143, 0.679);
    border-radius: 1rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.637), 0 2px 6px 0 rgba(140, 140, 140, 0.54);
}

element.style {
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}
.bg-facebook {
    background-color: #3b5998!important;
}
.bg-twitter {
    background-color: #55acee!important;
}
.bg-linkedin {
    background-color: #0976b4!important;
}