.upload{

  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
}

.upload .round{

  bottom: 0;
  right: 0;
  background: #585a5c;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 30%;
  margin-bottom: 1rem;

}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}